@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels
@model RegisterViewModel

<h2>Sign Up</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Error: ") 
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)
  @Html.TextBoxFor(user => user.Email)

  @Html.LabelFor(user => user.UserName)
  @Html.TextBoxFor(user => user.UserName)

  @Html.LabelFor(user => user.Password)
  @Html.EditorFor(user => user.Password)

  @Html.LabelFor(user => user.ConfirmPassword)
  @Html.EditorFor(user => user.ConfirmPassword)

  <input type="submit" value="Sign Up" />
}

<p>@Html.ActionLink("Account Page", "Index")</p>